body {
	background-color: #fcfcfc;
}
.bolinha {
	position: absolute;
	width: 90px;
	height: 90px;
	background-color: #F6C90E;
	border-radius: 50%;
	animation: flutuar 3s ease-in-out infinite;
}

@keyframes flutuar {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-30px);
	}
	100% {
		transform: translateY(0);
	}
}

.bolinha:nth-child(1) {
	left: 10%;
	top: 20%;
}

.bolinha:nth-child(2) {
	left: 20%;
	top: 60%;
}

.bolinha:nth-child(3) {
	left: 50%;
	top: 10%;
}

.bolinha:nth-child(4) {
	left: 70%;
	top: 80%;
}

.bolinha:nth-child(5) {
	left: 90%;
	top: 50%;
}