.container-fluid{
    padding: 0 !important;
    margin: 0 !important;
}
#menuBar{
    background-color: rgb(255, 185, 55);
    width: 8%;
    height: 100%;
    position: fixed;
    z-index: 1;
    transition: all .5s ease;
}
#menuBar .menuBotoes button{
    width: 100% !important;
}
#menuBar .menuBotoes i {
    display: block;
    font-size: 200%;
    margin: 25px;
    text-align: left !important;
}
.menuBarIcon button{
    width: 100%;
    padding-left: 60px;
}
.menuBarIcon{
    width: 100%;
}
.menuBarIcon i {
    font-size: 250%;
}
.menuSair{
    margin-top: 40%;
}
.row {
    width: 100% !important;
}
.allCenter{
    vertical-align: middle !important;
    text-align: center !important;
}
.fichas{
    margin-left: 15%
}
.menuSair i{
    display: block;
    font-size: 200%;
    margin: 20px;
    text-align: left !important;
}
.menuSair button{
    width: 100%;
    margin-top: 180%;
}
.card-title{
    background-color: rgb(255, 185, 55);
    padding: 20px;
}
.card{
    margin-top: 20px;
}