.container-fluid{
    padding: 0 !important;
    margin: 0 !important;
    padding-left: 9% !important;
    padding-right: 9% !important;
    color: rgb(46, 46, 46) !important;
    background-color:rgba(255, 226, 186, 0.8);
    font-family: Comic Sans MS, Comic Sans;
}
.corFundo{
    background-color:rgba(245, 203, 125, 0.8);
    box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.216);
}
.sombra{
    box-shadow: 0px 22px 24px rgba(0, 0, 0, 0.501);
    background-color:rgba(255, 252, 221, 0.8);
}
.centerAll{
    padding-right: 15%;
    padding-left: 15%;
}
.centerAllContent{
    padding-right: 25% !important;
    padding-left: 25% !important;
}
.sobreNos{
    padding: 50px;
    text-align: center;
}
.sobreNos p{
    padding-right: 25%;
    padding-left: 25%;
}
.logo{
    text-align: center;
}
.logo button{
    width: 25%;
    margin: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
    background: orange;
}
.logo h3{
    margin-top: 10%;
    display: blorgb(183, 108, 11)
}
.areaLogin{
    margin:0 30%;
    font-weight: bold;
}
.areaLogin input{
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.8);
}
.areaLogin button{
    background: orange;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.8);
}
.imgAreaLogin img{
    width: 102% !important;
}
#login{
    text-align: center; 
    margin: 30px 0;
}
.nossosNumeros{
    padding: 0 15%;
    text-align: center;
}
.nossosNumeros h3{
    text-align: center; 
    margin: 30px 20px;
}
.dot {
    margin-left: 50px;
    height: 120px;
    width: 120px;
    border: 3px solid rgb(0, 238, 255);
    border-radius: 50%;
    display: inline-block;
}
.dot p {
    text-align: center;
    vertical-align: middle;
    font-size: xxx-large;
    margin-top: 15px;
    font-weight: bold;
}
.descricaoNumeros{
    text-align: center;
    font-weight: bold;
    margin-left: 50px;
    padding-bottom: 30px;
}
#sejaParceiro{
    text-align: center;
    padding: 5% 25%;
    font-size: x-large;
}
#sejaParceiro button{
    width: 25%;
    margin: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
    background: orange;
}
.contato{
    text-align: left;
    margin: 35px 0;
    padding-left: 20%;
}
.horario{
    margin: 35px 0;
    padding-left: 8%;
    padding-right: 20%;
}
footer{
    text-align: center;
    font-weight: bold;
    padding: 2% 15%;
}
#contato b{
    color: rgb(188, 97, 0);
}