{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fit Life - Tudo para sua academia</title>
    <meta name="description" content="Modern effects and styles for off-canvas navigation with CSS transitions and SVG animations using Snap.svg" />
    <meta name="keywords" content="sidebar, off-canvas, menu, navigation, effect, inspiration, css transition, SVG, morphing, animation" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css'%}" />
    <link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome-4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/meutopside.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleListagemCli.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleCadFicha.css'%}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styleAgendamentoCli.css'%}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-xmFvqRn0UEUCe/aHRAPqShH3lqdgL7BTVIjK0rYmo/Nxr3Krs07STOWmWlw34gDIh" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
<body>
    <style>
        input {
            color: black;
        }

        textarea {
            color: black
        }
    </style>
    <div class="container-fluid">
        <div class="menu-wrap">
            <nav class="menu-top">
                <div class="profile"></div>
                <div class="icon-list">
                </div>
            </nav>
            <nav class="menu-side">
                <br><br><br><br><br><br><br><br><br><br><br>

                <a href="TelaInicialUsuario.html"><i class="fa fa-fw fa-star-o"></i> Home</a>
                <a href="TelaModalidadesDisponiveis.html"><i class="fa fa-fw fa-bell-o"></i> Modalidades</a>
                <a href="#"><i class="fa fa-fw fa-envelope-o"></i> Financeiro</a>
                <a href="FormCliente.html"><i class="fa fa-fw fa-bell-o"></i> Perfil</a>
                <a href="TelaAgendamentosCli.html"><i class="fa fa-fw fa-comment-o"></i>Exames</a>

            </nav>
            <img src="{% static 'imgs/LogoempresaBranca.png'%}" style="width: 40%;" alt="Logoempresa" class="centralizar-imagem">

        </div>
        <button class="menu-button" id="open-button"></button>
        <div class="content-wrap">
            <div class="content">
                <header class="codrops-header">
                    <br><h1>Cadastro de Ficha<span></span></h1>
                 </div>
                 <div class="form-container">
                    <h2>Informações</h2>
                    <form method="POST" action="">
                     {% csrf_token %}
                      <label for="nome">Nome:</label>
                      {{form.Nome}}
                
                      <label for="email">IMC:</label>
                      {{form.MasCor}}
                
                      <label for="idade">Idade:</label>
                      {{form.idade}}
                
                      <label for="altura">Altura (cm):</label>
                      {{form.Altura}}
                
                      <label for="peso">Peso (kg):</label>
                      {{form.peso}}

                      <br><label for="observacao">Observação:</label>
                      {{form.observacao}} <br>
                
                      <input type="submit" class="btn btn-primary" value="Cadastrar">
                    </form>
                  </div>
                 

                </header>

            </div>
            <footer class="foot">© Copyright @ 2023 Fit Life. Todos os direitos reservados</footer>

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <script src="{% static 'js/classie.js'%}"></script>
            <script src="{% static 'js/main.js'%}"></script>
</body>
</html>