{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Fit Life - Tudo para sua academia</title>
  <meta charset="utf-8">
    
  <link rel="stylesheet" href="assets/css/intlTelInput.css">
  <link rel="stylesheet" href="assets/css/minified.css">
  <link rel="stylesheet" href="assets/css/whatsapp.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style_menu_admin.css' %}">
  <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/8a85a3b3dd.js" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/9ca83e8b3f.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

  <nav class="navbar navbar-icon-top navbar-expand-lg navbar navbar-light bg-dark">
    <img src="{% static 'imgs/Logo.png' %}" class="img-responsive" style="width:8%" alt="Logomarca">
    <li class="right"><a href="{% url 'index' %}"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
    </div>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            </a>
        </li>
        </li>
      </ul>
    </div>
  </nav>


<div class="jumbotron">
  <div class="container text-center">
    <h1><b>Bem-vindo, {{user}}! </b></h1>  
    <div class="bolinhas">
      <div class="bolinha"></div>
      <div class="bolinha"></div>
      <div class="bolinha"></div>
      <div class="bolinha"></div>
      <div class="bolinha"></div>
    </div>
    <h4>Avenida Doutor Cincinato Cajado Braga, 375 - Novo Eldorado, Contagem - MG, 32341-310</h4>
    <h4>(31) 4141-1962</h4>
  </div>
</div>
  
<div class="container-fluid bg-3 text-center">  

  <H2><b>O que faremos hoje?</b></H2><br>
  <div class="row">
    <div class="col-sm-3">
      <img src="{% static 'imgs/Cliente.png' %}" class="img-responsive" style="width:50%; display: block; margin: auto;"  float: center; alt="Agendamentos">
      <a href="{% url 'form_cliente' %}"><button class="button">Cadastrar novo cliente</button></a>
    </div>
    <div class="col-sm-3"> 
      <img src="{% static 'imgs/ListagemClientes.png' %}" class="img-responsive" style="width:50%; display: block; margin: auto;"  float: center; alt="Bioimpedancia">
      <br> <a href="{% url 'listagem_cliente' %}"><button class="button">Listagem de Clientes</button></a>

    </div>
    <div class="col-sm-3"> 
      <img src="{% static 'imgs/AgendarExame.png' %}" class="img-responsive" style="width:50%; display: block; margin: auto;"  float: center; alt="Image">
      <br> <button class="button">Agendar Exame</button>

    </div>
    <div class="col-sm-3">
      <img src="{% static 'imgs/FichasAdmin.png' %}" class="img-responsive" style="width:50%; display: block; margin: auto;"  float: center; alt="Image">
      <br><button class="button">Fichas</button></a>
    </div>
  </div>
</div><br>

<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-3">
      <img src="{% static 'imgs/FinanceiroAdmin.png' %}" class="img-responsive" style="width:50%; display: block; margin: auto;"  float: center; alt="Image">
      <br><button class="button">Financeiro</button>
    </div>
    <div class="col-sm-3"> 
      <img src="{% static 'imgs/DadosCadastrais.png' %}" class="img-responsive" style="width:50%; display: block; margin: auto;"  float: center; alt="Image">
      <br> <a href="{% url 'form_parceiro' %}">
       <button class="button">Dados Cadastrais</button></a>

    </div>
    <div class="col-sm-3"> 
      <img src="{% static 'imgs/SuporteIcone.png' %}" class="img-responsive" style="width:50%; display: block; margin: auto;"  float: center; alt="Image">
      <br><a href="https://api.whatsapp.com/send?phone=5531998425032&text=Ol%C3%A1,%20gostaria%20de%20agendar%20um%20novo%20exame%20de%20bioimpedancia">
        <button class="button">Suporte</button></a>

    </div>
    <div class="col-sm-3">
      <img src="{% static 'imgs/CadastrarFicha.png' %}" class="img-responsive" style="width:50%; display: block; margin: auto;"  float: center; alt="Image">
      <br><a href="{% url 'cadastro_modalidade' %}"><button class="button">Cadastrar Modalidades</button></a>
    </div>
  </div>
</div><br><br>
  </div>
  <footer class="foot">© Copyright @ 2023 Fit Life. Todos os direitos reservados</footer>
</body>
</html>